.outer_journey_section {
    .main_journey_section {
        position: relative;
        transition: 700ms ease-in !important;
        scroll-behavior: smooth;
        transition: ease-in 600ms !important;
        z-index: 99;

        &::after {
            content: "";
            position: absolute;
            background: url("../../../public/Images/pilot_launch/journey.png");
            background-repeat: no-repeat;
            background-position: right bottom;
            // background-size: contain;
            bottom: 0%;
            height: 100%;
            z-index: -111;
            width: 100%;

            @media (max-width:991px) {
                display: none !important;
            }
        }

        .section-spacer {
            padding: 90px 0;
        }

        .driver_tab {
            background-color: $white;

            p.abc {
                @include font-montserrat;
                color: $grey;
                font-size: 26px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: center;

                @include mediaResponsive(xxl) {
                    font-size: 26px;
                }

                @include mediaResponsive(xl) {
                    font-size: 26px;
                }

                @include mediaResponsive(lg) {
                    line-height: 35px;
                    font-size: 26px;
                }

                @include mediaResponsive(mLg) {
                    font-size: 24px;
                }

                @include mediaResponsive(md) {
                    display: none !important;
                }
            }
        }

        .journey_title {
            @include font-montserrat;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            width: 65%;
            color: #333333;

            @media (max-width:1600px) {
                font-size: 18px;
            }

            @media (max-width:1500px) {
                font-size: 16px;
            }

            @media (max-width:1200px) {
                font-size: 16px;
            }

            @media (max-width:991px) {
                font-size: 14px;
            }

            @media (max-width:575px) {
                font-size: 14px;
            }
        }

        .dropdown_title_name {
            text-transform: initial;
            font-size: 30px;
            font-weight: 600 !important;
            color: #333333;


            @media (max-width:1600px) {
                font-size: 28px;
            }

            @media (max-width:1500px) {
                font-size: 24px;
            }

            @media (max-width:1200px) {
                font-size: 22px;
            }

            @media (max-width:991px) {
                color: white !important;
                font-size: 18px;
            }

            @media (max-width:575px) {
                font-size: 16px;
            }
        }

        .pilotformSection {
            border: 2px solid rgba(255, 255, 255, 0.40);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(124deg, rgba(255, 255, 255, 0.40) 11.74%, rgba(255, 255, 255, 0.10) 87.03%);
            box-shadow: 0px 28px 45px -1px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(20px);

            .form-group_pilot {
                color: #303030 !important;
                font-weight: 400 !important;

                .bold_text {
                    @include mediaResponsive(md) {
                        font-weight: 600 !important;
                    }
                }

                margin-bottom: 5px !important;
            }

            .form-select {
                background-color: rgba(255, 255, 255, 0.85);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 3px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 23px 14px 0px rgba(0, 0, 0, 0.03), 0px 41px 16px 0px rgba(0, 0, 0, 0.01), 0px 64px 18px 0px rgba(0, 0, 0, 0.00);
                color: #505050 !important;
                font-weight: 600 !important;
                padding: 15px !important;
                border: 0px !important;

                @include mediaResponsive(md) {
                    color: #7D7D7D !important;
                    font-size: 12px !important;
                    font-weight: 700 !important;
                    padding: 15px !important;
                    border: 0px !important;
                    box-shadow: none !important;
                }
            }

            .form-select:focus {
                color: #505050 !important;
                font-weight: 600 !important;
                padding: 15px !important;
                // background: rgba(255, 255, 255, 0.85) !important;
                background-color: rgba(255, 255, 255, 0.85);
                // background: #fffaf4;
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 3px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 23px 14px 0px rgba(0, 0, 0, 0.03), 0px 41px 16px 0px rgba(0, 0, 0, 0.01), 0px 64px 18px 0px rgba(0, 0, 0, 0.00) !important;

                @include mediaResponsive(md) {
                    color: #7D7D7D !important;
                    font-size: 12px !important;
                    font-weight: 700 !important;
                    padding: 15px !important;
                    background: #F7F7F7 !important;
                    box-shadow: none !important;
                }

            }

            @include mediaResponsive(md) {
                padding-left: 8px !important;
                padding-right: 8px !important;
            }

            .border-custom {
                border-bottom: 3px solid #FAAD1D;
            }

            input {
                // background: rgba(255, 255, 255, 0.85);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 3px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 23px 14px 0px rgba(0, 0, 0, 0.03), 0px 41px 16px 0px rgba(0, 0, 0, 0.01), 0px 64px 18px 0px rgba(0, 0, 0, 0.00);
                color: #505050;
                font-weight: 600;
                padding: 15px;
                border: 0px;

                @media (max-width:1500px) {
                    padding: 10px;
                }

                @include mediaResponsive(md) {
                    color: #7D7D7D;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 15px;
                    border: 0px;
                    // background: #F7F7F7;
                    box-shadow: none;
                }
            }

            input:focus {
                color: $grey;
                font-weight: 600;
                padding: 15px;
                // background: rgba(255, 255, 255, 0.85);
                box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 3px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 23px 14px 0px rgba(0, 0, 0, 0.03), 0px 41px 16px 0px rgba(0, 0, 0, 0.01), 0px 64px 18px 0px rgba(0, 0, 0, 0.00);

                @include mediaResponsive(md) {
                    color: #7D7D7D;
                    font-size: 12px;
                    font-weight: 700;
                    padding: 15px;
                    // background: #F7F7F7;
                    box-shadow: none;
                }

            }
        }
    }

    @media (max-width:991px) {
        display: none !important;
    }
}

.main_journey_section .journey_img {
    object-fit: contain;
    height: 100%;
}

.pilotformtransition {
    .form-control {
        font-size: 13px;
        border-radius: 0;
    }

    .form-label {
        @media (max-width:1500px) {
            margin-bottom: 0;

            b {
                font-size: 12px;
                font-weight: 700;
            }
        }
    }
}

.form-select {
    // --bs-form-select-bg-img: url('../../../public/Images/chevron-down.svg') !important;
    // --bs-form-select-bg-img: url('../../../public/Images/Vector22.svg') !important;
    object-fit: contain !important;
}

.demo {
    background-color: #fffaf4 !important;
    // background: #fffaf4;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 3px 6px 0px rgba(0, 0, 0, 0.05), 0px 10px 10px 0px rgba(0, 0, 0, 0.04), 0px 23px 14px 0px rgba(0, 0, 0, 0.03), 0px 41px 16px 0px rgba(0, 0, 0, 0.01), 0px 64px 18px 0px rgba(0, 0, 0, 0.00) !important;
    color: #505050 !important;
    font-weight: 600 !important;
    padding: 15px !important;
    border: 0px !important;
    border-color: transparent !important;
    outline: none !important;
    line-height: 25px !important;

    @include mediaResponsive(md) {
        color: #7D7D7D !important;
        font-size: 12px !important;
        font-weight: 700 !important;
        padding: 15px !important;
        border: 0px !important;
        // background: #505050 !important;
        box-shadow: none !important;
    }
}


// .mobilejourneysection {
//     display: none !important;

//     @include mediaResponsive(md) {
//         display: block !important;
//     }
// }