.launching_section {
    background-color: $grey;


    .Launching_title {
        @include font-montserrat;
        color: $white;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        line-height: 10px;
        ;
        font-style: normal;
        line-height: normal;
        text-transform: capitalize;


        @media (max-width:1600px) {
            font-size: 40px;
        }

        @media (max-width:1500px) {
            font-size: 42px;
        }

        @media (max-width:1200px) {
            font-size: 30px;
        }

        @media (max-width:991px) {
            font-size: 28px;
            color: $socialiconyellow !important;
        }

        @media (max-width:768px) {
            font-size: 34px;
        }

        @media (max-width:575px) {
            text-align: left;
            font-size: 30px;
        }
    }

    .launching_card_1 {
        width: 32%;

        @media (max-width:991px) {
            width: 49%;
        }
    }

    .launching_card_2 {
        width: 49%;
    }

    .launching_card_3 {
        width: 48%;

        @media(max-width: 991px) {
            width: 100%;
        }
    }

    .launching_img {
        object-position: left;
        width: 15%;
        height: auto;

        @media (max-width:575px) {
            width: 25%;
        }
    }

    .launching_img_4 {
        object-position: left;
        width: 10%;
        height: auto;

        @media (max-width:991px) {
            width: 25%;
        }
    }

    .launching_img_5 {
        object-position: left;
        width: 10%;
        height: auto;
    }

    .arrow_width {
        width: 5%;

        @media (max-width:991px) {
            width: 8%;
        }

        @media (max-width:576px) {
            width: 15%;
        }
    }

    .arrow_width1 {
        width: 3%;

        @media (max-width:991px) {
            width: 8%;
        }

        @media (max-width:576px) {
            width: 15%;
        }
    }

    .arrow_width2 {
        width: 3%;

        @media (max-width:991px) {
            width: 4%;
        }

        @media (max-width:576px) {
            width: 8%;
        }
    }

    .inner_launching_section {
        height: 18rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 1rem !important;
        border-radius: 20px;
        border: 1px solid #A7A7A7;
        background: #505050;

        @media(max-width:1500px) {
            height: 13rem;

        }

        @media (max-width:991px) {
            border-radius: 10px;
            justify-content: space-between;
            height: 13rem;
        }

        @media (max-width:575px) {
            height: 10rem;
        }

        .launching_description {
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            // line-height: 26px;
            color: $white;
            font-weight: 400;

            @media (max-width:1600px) {
                font-size: 18px;
            }

            @media (max-width:1500px) {
                font-size: 14px;
            }

            @media (max-width:1200px) {
                font-size: 30px;
            }

            @media (max-width:991px) {
                font-size: 28px;
                // color: $socialiconyellow !important;
            }

            @media (max-width:575px) {
                font-size: 26px;
            }

            @media (max-width:991px) {
                font-size: 18px;
            }

            @include mediaResponsive(sm) {
                margin-top: 10px;
                font-size: 10px;
            }
        }

        .launchingmain_title {
            text-transform: initial;
            font-size: 36px;
            font-weight: 650 !important;
            color: $white;

            @media (max-width:1600px) {
                font-size: 24px;
            }

            @media (max-width:1500px) {
                font-size: 26px;
            }

            @media (max-width:1200px) {
                font-size: 16px;
            }

            @media (max-width:991px) {
                font-size: 16px;
            }

            @media (max-width:575px) {
                font-size: 16px;
            }
        }

        .launchingsub_title {
            font-size: 18px;

            @media (max-width:1600px) {
                font-size: 24px;
            }

            @media (max-width:1500px) {
                font-size: 14px;
            }

            @media (max-width:1200px) {
                font-size: 16px;
            }

            @media (max-width:991px) {
                font-size: 16px;
            }

            @media (max-width:575px) {
                font-size: 12px;
            }
        }
    }

    .inner_launching_section.expanded {
        height: 20rem;
        justify-content: center;

        @media(max-width:1500px) {
            height: 16rem;

        }

        @media (max-width:991px) {
            height: 21rem;
        }

        @media (max-width: 575px) {
            height: 16rem;
        }
    }

    .mob-section-2-img {
        width: 49%;
    }

    .future-mini {
        background-image: url("../../../public/Images/png/Future1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;

        // @media (max-width:767px) {
        //     background-size: contain;
        // }
    }

    .lead-mini {
        background-image: url("../../../public/Images/png/Lead the pack.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;

        // @media (max-width:767px) {
        //     background-size: contain;
        // }

        .text-white {
            font-size: 12px;
        }
    }
}

.launching_section1 {
    background-color: $grey;

    @media (max-width:991px) {
        background-color: #fff;
    }


    .Launching_title {
        @include font-montserrat;
        color: $white !important;
        font-size: 45px;
        font-weight: 600;
        text-align: center !important;
        line-height: 10px;
        text-align: left;
        font-style: normal;
        line-height: normal;
        text-transform: capitalize;


        @media (max-width:1600px) {
            font-size: 40px;
        }

        @media (max-width:1500px) {
            font-size: 42px;
        }

        @media (max-width:1200px) {
            font-size: 30px;
        }

        @media (max-width:991px) {
            font-size: 28px;
            color: $socialiconyellow !important;
        }

        @media (max-width:575px) {
            font-size: 26px;
        }
    }

    .card {
        border-radius: 15px;
        // box-shadow: 0px 4px 10px rgb(0 0 0 / 30%);
    }

    .launching_card_1 {
        width: 32%;

        @media (max-width:991px) {
            width: 49%;
        }
    }

    .inner_launching_section {
        height: 18rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 1rem !important;
        border-radius: 20px;
        border: 1px solid #A7A7A7;
        background: #505050;

        @media(max-width:1500px) {
            height: 13rem;

        }

        @media (max-width:991px) {
            border-radius: 10px;
            height: 13rem;
        }

        @media (max-width:575px) {
            height: 12rem;
        }

        .exclusive_img {
            width: 100%;

            @media (max-width:576px) {
                height: auto;
            }
        }

        .launching_description {
            text-transform: capitalize;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
            // line-height: 26px;
            color: $white;
            font-weight: 400;

            @media (max-width:1600px) {
                font-size: 18px;
            }

            @media (max-width:1500px) {
                font-size: 14px;
            }

            @media (max-width:1200px) {
                font-size: 30px;
            }

            @media (max-width:991px) {
                font-size: 28px;
            }

            @media (max-width:575px) {
                font-size: 26px;
            }

            @media (max-width:991px) {
                font-size: 18px;
            }

            @include mediaResponsive(sm) {
                margin-top: 10px;
                font-size: 10px;
            }
        }

        .launchingmain_title {
            text-transform: initial;
            font-size: 36px;
            font-weight: 650 !important;
            color: $white;

            @media (max-width:1600px) {
                font-size: 24px;
            }

            @media (max-width:1500px) {
                font-size: 26px;
            }

            @media (max-width:1200px) {
                font-size: 16px;
            }

            @media (max-width:991px) {
                font-size: 16px;
            }

            @media (max-width:575px) {
                font-size: 16px;
            }
        }

        .launchingsub_title {
            font-size: 18px;

            @media (max-width:1600px) {
                font-size: 24px;
            }

            @media (max-width:1500px) {
                font-size: 14px;
            }

            @media (max-width:1200px) {
                font-size: 16px;
            }

            @media (max-width:991px) {
                font-size: 16px;
            }

            @media (max-width:575px) {
                font-size: 10px;
            }
        }
    }

    .inner_launching_section.expanded {
        height: 20rem;
        justify-content: center;

        @media(max-width:1500px) {
            height: 17rem;
        }

        @media (max-width:991px) {
            height: 21rem;
        }

        @media (max-width: 575px) {
            height: 16rem;
        }
    }

    .mob-section-2-img {
        width: 49%;
    }

    .future-mini {
        background-image: url("../../../public/Images/png/Future1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;

        // @media (max-width:767px) {
        //     background-size: contain;
        // }
    }

    .lead-mini {
        background-image: url("../../../public/Images/png/Lead the pack.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;

        // @media (max-width:767px) {
        //     background-size: contain;
        // }

        .text-white {
            font-size: 12px;
        }
    }
}