.any_vehicle_section {
    background-color: #f7f7f7;


    .container {
        overflow-x: unset !important;
    }

    // .nav-pills .nav-link {
    //     background-color: #f1f3f4;
    //     border-radius: 10px !important;
    //     border: 2px solid #7d7d7d;
    //     height: 12rem;
    // }

    // .nav-pills .nav-link svg {
    //     width: 70%;

    //     @include mediaResponsive(md) {
    //         width: 90%;
    //     }
    // }
    // button.active {
    //     .tab_img_up {
    //         display: block;
    //     }

    //     .tab_img {
    //         display: none;
    //     }
    // }

    // button:not(.active) {
    //     .tab_img_up {
    //         display: none;
    //     }

    //     .tab_img {
    //         display: block;
    //     }
    // }

    .tab_desc {
        font-size: 16px;

        span {
            font-size: 11px;
        }

        @media (max-width:1500px) {
            font-size: 12px;

            span {
                font-size: 9px;
            }
        }
    }

    .nav-pills .nav-link.active,
    .nav-pills .nav-item.show .nav-link {
        background-color: #f1f3f4;
    }

    .nav-pills .nav-link:focus-visible {
        outline: none !important;
    }

    .card-body .card {
        border: 2px solid #7d7d7d;
        background-color: #f1f3f4;
    }

    .tab-pane {
        .object-position-top {
            object-position: top;
        }
    }

    .mob {
        .fade:not(.show) {
            display: none;
        }
    }
}