.set_up_delivery .number-svg {
    width: 7%;

    @media (max-width:991px) {
        width: unset;
    }

    @media (max-width:991px) {
        width: 15%;
    }
}

.set_up_delivery .set-up-text {
    width: 65%;

    @media (max-width:991px) {
        width: 100%;
    }
}