.careersbanner_banner {
    background-image: url("../../../public/Images/careers/BannerCareers.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    height: 55rem;

    @media (max-width:1700px) {
        height: 52rem;
    }

    @media (max-width:1500px) {
        height: 45rem;
    }

    @media (max-width:991px) {
        height: 35rem;
    }

    @media (max-width:576px) {
        height: 15rem;
    }

    .career_title {
        font-weight: 650;
        line-height: normal;
        text-transform: capitalize;
        color: $white;

        font-size: 80px;

        @media (max-width:1700px) {
            font-size: 65px;
        }

        @media (max-width:1500px) {
            font-size: 60px;
        }

        @media(max-width: 991px) {
            font-size: 45px;
            font-weight: 600;
        }

        @media(max-width: 576px) {
            font-size: 30px;
        }
    }

    .careers_desc {
        color: $white;
        font-size: 36px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0em;
        text-align: left;
        text-transform: capitalize;

        @media (max-width:1700px) {
            font-size: 32px;
        }

        @media (max-width:1500px) {
            font-size: 30px;
        }

        @media (max-width:1200px) {
            font-size: 34px;
        }

        @media(max-width: 991px) {
            font-size: 28px;
            font-weight: 300;
        }

        @media(max-width: 576px) {
            font-size: 18px;
        }
    }

    .Passionate_description {
        width: 75% !important;
        text-transform: capitalize;
        @include font-montserrat;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        color: $white;

        @media (max-width:1700px) {
            font-size: 16px;
        }

        @media (max-width:1500px) {
            font-size: 15px;
        }

        @media (max-width:1200px) {
            font-size: 14px;
        }
    }

    .applybtn {
        @include font-montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
        color: $white;
        border-radius: 5px;
        text-transform: capitalize;

        @include mediaResponsive(lg) {
            font-size: 21px !important;
        }

        @include mediaResponsive(md) {
            font-size: 18px !important;
        }
    }
}

.whyworktitlesection {
    @include mediaResponsive(md) {
        border-radius: 10px;
        margin: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        background: #F7F7F7;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);

        .container {
            padding-top: 10px !important;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }

    .whyworkttitle {
        @include font-montserrat;
        color: #000;
        font-size: 55px;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
        // letter-spacing: 0em;
        text-align: left;

        @media (max-width:1700px) {
            font-size: 50px;
        }

        @media (max-width:1500px) {
            font-size: 40px;
        }

        @media (max-width:1200px) {
            font-size: 34px;
        }

        @media (max-width:991px) {
            font-size: 28px;
            font-weight: 600;
            color: $socialiconyellow;
        }

        @media (max-width:576px) {}
    }

    .whycolumn {
        @include mediaResponsive(md) {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .why_work_section {
        height: 15rem;

        @media (max-width:1500px) {
            height: 12rem;
        }

        @media (max-width:991px) {
            margin: 10px 0px 0px 0px;
            padding-left: 5px;
            padding-right: 5px;
            padding: 5px !important;
            height: 220px !important;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .whyworksvg {
            height: 25% !important;
            width: 25% !important;
        }

        border-radius: 0.625rem;
        border: 1px solid var(--light-grey-for-border, #7D7D7D);
        background: #F1F3F4;

        .whyworktitle {
            @include font-montserrat;
            color: $black;
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
            // letter-spacing: 0em;
            text-align: left;

            @media (max-width:1700px) {
                font-size: 16px;
            }

            @media (max-width:1500px) {
                font-size: 14px;
            }

            @media (max-width:1200px) {
                font-size: 12px;
            }

            @media(max-width: 991px) {
                font-size: 16px;
            }

            @media(max-width: 576px) {
                font-size: 20px;
            }
        }

        .whyworkdescription {
            @include font-montserrat;
            color: $grey;
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            text-transform: capitalize;
            text-align: left;

            @media (max-width:1700px) {
                font-size: 14px;
            }

            @media (max-width:1500px) {
                font-size: 12px;
            }

            @media (max-width:1200px) {
                font-size: 12px;
            }

            @media(max-width: 991px) {
                font-size: 10px;
            }

            @media(max-width: 576px) {
                font-size: 10px;
            }
        }
    }
}