.our_position_section {
    .our_position_title {
        @include font-montserrat;
        color: $grey;
        font-size: 48px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0em;
        text-align: left;
        text-transform: capitalize;

        @include mediaResponsive(xxl) {
            font-size: 45px;
        }

        @include mediaResponsive(xl) {
            font-size: 40px;
        }

        @include mediaResponsive(lg) {
            font-size: 36px;
        }

        @include mediaResponsive(mLg) {
            font-size: 36px;
        }

        @include mediaResponsive(md) {
            font-weight: 700 !important;
            font-size: 26px;
        }

        @include mediaResponsive(sx) {
            font-weight: 700 !important;
            font-size: 26px;
        }

        @include mediaResponsive(sm) {
            font-weight: 700 !important;
            font-size: 26px;
        }
    }

    .details_btn {
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        border: 1px solid #BCBCBC;
        background: #FFF;
        color: #7D7D7D;
    }

    .outer_values_section {}


    .main_section {
        border-radius: 5px;
        border: 1px solid #888686;

        &::after {
            display: none !important;
        }

        .inner_main_section {
            .position_title {
                color: $black;
                font-size: 24px;
                font-weight: 600;
                line-height: normal;
                text-align: left;

                @include mediaResponsive(xxl) {
                    font-size: 24px;
                }

                @include mediaResponsive(xl) {
                    font-size: 24px;
                }

                @include mediaResponsive(lg) {
                    line-height: 30px;
                    font-size: 24px;
                }

                @include mediaResponsive(mLg) {
                    font-size: 24px;
                }

                @include mediaResponsive(md) {
                    line-height: 25px;
                    font-size: 20px;
                }

                @include mediaResponsive(sm) {
                    line-height: 26px;
                    font-size: 20px;
                }

                @include mediaResponsive(xs) {
                    line-height: 26px;
                    font-size: 20px;
                }
            }

            .inner_btn_section {}
        }

        .inner_border {
            border-bottom: 1px solid #888686;
        }

        .positiondescription {
            color: $black;
            font-size: 18px;
            font-weight: 400;
            line-height: normal;
        }

        .seemoretitle {
            color: $socialiconyellow;
            font-size: 18px;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.scrolldownslownaccordion-body {

    // max-height: 100% !important;
    overflow: hidden !important;
    transition: 0.5s ease;
}
.mainourpositionresponsive{
    @include mediaResponsive(md){
        display: none !important;
    }
}