// Font-sizes Variable
$font-sizes: (
    1,
    5,
    8,
    10,
    11,
    12,
    13,
    14,
    15,
    16,
    18,
    20,
    22,
    23,
    24,
    25,
    26,
    28,
    29,
    30,
    35,
    38,
    32,
    35,
    36,
    38,
    40,
    45,
    47,
    50,
    60,
    67,
    70,
    80,
    // after login header logo size
    120,
    // login icon size
    180 //404 page text
);

// height variable
$heights: (
    100,
    125,
    150
);

// Width Variable
$widths: (
    100,
    115,
    140
);

// font weights
$weights: (
    100,
    200,
    300,
    400,
    500,
    600,
    700
);

// Border radius
$round-border: 50%;
$border-radius-normal: 25px;

// px
$unit: "px";

// colors - if new color added please add in array
$white: #ffffff;
$black: #000000;
$grey: #333333;
$socialiconyellow : #faad1d;
$extralightwhite : #FCF9F4;
$darkgrey : #7D7D7D;

// color array
$colors: (
    "white" #ffffff,
    "black" #000000,
    "grey" #333333,
    "socialiconyellow" #faad1d,
    "extralightwhite" #FCF9F4,
    "darkgrey" #7D7D7D,

);
// Font Family
$montserrat: "Montserrat";
$inter: "Inter";