.delivery_individual_banner {
    background-image: url("../../../../public/Images/delivery/delivery_individual.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 57rem;

    @media (max-width: 1500px) {
        height: 48rem;
    }

    @media (max-width: 991px) {
        height: 21rem;
    }

    @media (max-width:576px) {
        height: 15rem;
    }

    .banner_title {
        font-size: 80px;
        line-height: 6rem;
        font-weight: 700;

        @media (max-width:1500px) {
            font-size: 65px;
            line-height: 4rem;
        }

        @media (max-width:991px) {
            font-size: 40px;
            line-height: normal;
        }

        @media (max-width:575px) {
            font-size: 28px;
        }
    }

    .banner_desc_1 {
        font-size: 16px;
    }

    .deliver_btn {
        font-size: 24px;
        font-weight: 600;

        @media(max-width: 1500px) {
            font-size: 18px;
        }

        @media (max-width:991px) {
            font-size: 20px;
        }

        @media (max-width:575px) {
            font-size: 18px;
        }
    }

    .banner_desc_2 {
        font-size: 16px;

        @media(max-width: 1500px) {
            font-size: 12px;
        }
    }

    .form_title {
        font-size: 25px;

        @media (max-width:1500px) {
            font-size: 20px;
        }
    }

    .inner_banner_form {
        .sub_inner_banner_form {
            border: 1.975px solid rgba(255, 255, 255, 0.40);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(124deg, rgba(255, 255, 255, 0.40) 11.74%, rgba(255, 255, 255, 0.10) 87.03%);
            box-shadow: 0px 27.65432px 44.44445px -0.98765px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(19.75308609008789px);
            border-radius: 15px;

            @include mediaResponsive(md) {
                backdrop-filter: none;
            }

            .business_card {
                background: transparent;
                background-color: transparent;
                border: 0px;
                border-radius: 25px;

                @include mediaResponsive(md) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    // padding-left: 20px ;
                    margin-top: 15px;
                    background: var(--ozove-white, #FFF);
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
                }

                .inner_bussinessform {
                    .form-group_business {
                        .bold_text {
                            font-size: 16px;

                            @media(max-width: 1500px) {
                                font-size: 12px;
                            }

                            @include mediaResponsive(md) {
                                font-weight: 600;
                            }
                        }

                        margin-bottom: 15px;
                    }

                    @include mediaResponsive(md) {
                        padding-left: 8px;
                        padding-right: 8px;
                    }

                    .first_title {
                        font-weight: 700;
                        color: $black ;
                        font-size: 20px;
                        line-height: normal;

                        @media (max-width:1500px) {
                            font-size: 14px;
                        }

                        @include mediaResponsive(md) {
                            width: 100%;
                        }
                    }

                    .second_title {
                        font-size: 18px;
                        font-weight: 500;
                        color: $black ;
                        line-height: normal;
                        word-spacing: 2px;

                        @media (max-width:1500px) {
                            font-size: 12px;
                        }

                        @include mediaResponsive(md) {
                            width: 100%;
                        }

                    }

                    .third_title {
                        font-size: 24px;
                        font-weight: 700;
                        color: $grey ;
                        line-height: normal;
                    }

                    .border-custom {
                        border-bottom: 3px solid #FAAD1D;
                    }

                    input {
                        color: $grey;
                        font-size: 16px;
                        // font-weight: 600;
                        padding: 10px;
                        border: 0px;
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.85);
                        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 2.96296px 5.92593px 0px rgba(0, 0, 0, 0.05), 0px 9.87654px 9.87654px 0px rgba(0, 0, 0, 0.04), 0px 22.71605px 13.82716px 0px rgba(0, 0, 0, 0.03), 0px 40.49383px 15.80247px 0px rgba(0, 0, 0, 0.01), 0px 63.20988px 17.77778px 0px rgba(0, 0, 0, 0.00);

                        @media(max-width:1500px) {
                            font-size: 12px;
                        }

                        @include mediaResponsive(md) {
                            color: #7D7D7D;
                            font-size: 12px;
                            // font-weight: 700;
                            padding: 15px;
                            border: 0px;
                            border-radius: 5px;
                            background: #F7F7F7;
                            box-shadow: none;
                        }
                    }

                    input:focus {
                        color: $grey;
                        // font-weight: 600;
                        padding: 10px;
                        border: 0px;
                        border-radius: 10px;
                        background: rgba(255, 255, 255, 0.85);
                        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 2.96296px 5.92593px 0px rgba(0, 0, 0, 0.05), 0px 9.87654px 9.87654px 0px rgba(0, 0, 0, 0.04), 0px 22.71605px 13.82716px 0px rgba(0, 0, 0, 0.03), 0px 40.49383px 15.80247px 0px rgba(0, 0, 0, 0.01), 0px 63.20988px 17.77778px 0px rgba(0, 0, 0, 0.00);

                        @include mediaResponsive(md) {
                            color: #7D7D7D;
                            font-size: 12px;
                            // font-weight: 700;
                            padding: 15px;
                            border: 0px;
                            border-radius: 5px;
                            background: #F7F7F7;
                            box-shadow: none;
                        }
                    }
                }

                .ridebusinessbtn {
                    font-size: 26px;
                    border-radius: 15px 15px;
                    border: 1.975px solid rgba(255, 255, 255, 0.40);
                    background: linear-gradient(0deg, #FAAD1D 0%, #FAAD1D 100%), linear-gradient(124deg, rgba(255, 255, 255, 0.40) 11.74%, rgba(255, 255, 255, 0.10) 87.03%);
                    box-shadow: 0px 27.65432px 44.44445px -0.98765px rgba(0, 0, 0, 0.05);
                    backdrop-filter: blur(19.75308609008789px);
                    color: $black;
                    font-weight: 600;
                    border: 1px solid transparent;

                    &:hover {
                        border: 1px solid transparent;
                    }

                    @media (max-width:1500px) {
                        font-size: 20px;
                    }

                    @include mediaResponsive(md) {
                        width: fit-content;
                        padding-left: 25px;
                        padding-right: 25px;
                        text-align: left;
                        border-radius: 5px;
                        color: $black;
                        font-weight: 700;
                        backdrop-filter: blur(0px);
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.delivery_individual_section{
    .form-width {
        width: 65%;

        @media (max-width:1500px) {
            width: 70%;
        }

        @media (max-width:991px){
            width: 95%;
        }
    }
}

.delivery_no_banner {
    h1.fw-700 {
        font-size: 3rem;
    }

    .nav-tabs .nav-link.active {
        background-color: #faad1d;
        border: none;
    }

    .inner_banner_form {
        .sub_inner_banner_form {
            border: 1.975px solid rgba(255, 255, 255, 0.40);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(124deg, rgba(255, 255, 255, 0.40) 11.74%, rgba(255, 255, 255, 0.10) 87.03%);
            box-shadow: 0px 27.65432px 44.44445px -0.98765px rgba(0, 0, 0, 0.05);
            backdrop-filter: blur(19.75308609008789px);
            border-radius: 15px;

            @media (max-width:991px) {
                backdrop-filter: none;
            }

            .business_card {
                background: transparent;
                background-color: transparent;
                border: 0px;
                border-radius: 25px;

                @include mediaResponsive(md) {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    // padding-left: 20px;
                    margin-top: 15px;
                    background: var(--ozove-white, #FFF);
                    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
                }

                .inner_bussinessform {
                    .form-group_business {
                        .bold_text {
                            font-size: 16px;

                            @media(max-width: 1500px) {
                                font-size: 12px;
                            }

                            @include mediaResponsive(md) {
                                font-weight: 600;
                            }
                        }

                        margin-bottom: 15px;
                    }

                    @include mediaResponsive(md) {
                        padding-left: 8px;
                        padding-right: 8px;
                    }

                    .first_title {
                        font-weight: 600;
                        color: $black ;
                        line-height: 25px;

                        @include mediaResponsive(md) {
                            width: 100%;
                        }
                    }

                    .second_title {
                        font-size: 16px;
                        font-weight: 400;
                        color: $black ;
                        line-height: 25px;

                        @include mediaResponsive(md) {
                            width: 100%;
                        }

                    }

                    .third_title {
                        font-size: 24px;
                        font-weight: 700;
                        color: $grey ;
                        line-height: normal;
                    }

                    .border-custom {
                        border-bottom: 3px solid #FAAD1D;
                    }

                    input {
                        color: $grey ;
                        // font-weight: 600 ;
                        padding: 15px;
                        border: 0px;
                        border-radius: 20px;
                        background: rgba(255, 255, 255, 0.85);
                        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 2.96296px 5.92593px 0px rgba(0, 0, 0, 0.05), 0px 9.87654px 9.87654px 0px rgba(0, 0, 0, 0.04), 0px 22.71605px 13.82716px 0px rgba(0, 0, 0, 0.03), 0px 40.49383px 15.80247px 0px rgba(0, 0, 0, 0.01), 0px 63.20988px 17.77778px 0px rgba(0, 0, 0, 0.00);

                        @include mediaResponsive(md) {
                            color: #7D7D7D;
                            font-size: 12px;
                            // font-weight: 700 ;
                            padding: 15px;
                            border: 0px;
                            border-radius: 5px;
                            background: #F7F7F7;
                            box-shadow: none;
                        }
                    }

                    input:focus {
                        color: $grey ;
                        // font-weight: 600 ;
                        padding: 15px;
                        border: 0px;
                        border-radius: 20px;
                        background: rgba(255, 255, 255, 0.85);
                        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 2.96296px 5.92593px 0px rgba(0, 0, 0, 0.05), 0px 9.87654px 9.87654px 0px rgba(0, 0, 0, 0.04), 0px 22.71605px 13.82716px 0px rgba(0, 0, 0, 0.03), 0px 40.49383px 15.80247px 0px rgba(0, 0, 0, 0.01), 0px 63.20988px 17.77778px 0px rgba(0, 0, 0, 0.00);

                        @include mediaResponsive(md) {
                            color: #7D7D7D;
                            font-size: 12px;
                            // font-weight: 700 ;
                            padding: 15px;
                            border: 0px;
                            border-radius: 5px;
                            background: #F7F7F7;
                            box-shadow: none;
                        }

                    }
                }

                .ridebusinessbtn {
                    font-size: 26px;
                    border-radius: 15px 15px;
                    border: 1.975px solid rgba(255, 255, 255, 0.40);
                    background: linear-gradient(0deg, #FAAD1D 0%, #FAAD1D 100%), linear-gradient(124deg, rgba(255, 255, 255, 0.40) 11.74%, rgba(255, 255, 255, 0.10) 87.03%);
                    box-shadow: 0px 27.65432px 44.44445px -0.98765px rgba(0, 0, 0, 0.05);
                    backdrop-filter: blur(19.75308609008789px);
                    color: $black;
                    font-weight: 600;
                    border: 1px solid transparent;

                    &:hover {
                        border: 1px solid transparent;
                    }

                    @include mediaResponsive(md) {
                        width: fit-content;
                        padding-left: 25px;
                        padding-right: 25px;
                        text-align: left;
                        border-radius: 5px;
                        color: $black ;
                        backdrop-filter: blur(0px);
                        font-weight: 700;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}