.local_delivery_section {

    background-color: #fef8f0;

    .card_width_1 {
        width: 33%;

        @media (max-width:991px) {
            width: 49%;
        }

        @media(max-width: 576px) {
            width: 50%;
        }
    }

    .card_width_2 {
        width: 33%;

        @media (max-width:991px) {
            width: 49%;
        }

        @media(max-width: 576px) {
            width: 50%;
        }
    }

    .card_width_3 {
        width: 33%;

        @media (max-width:991px) {
            width: 100%;
        }

        @media(max-width: 576px) {
            width: 100%;
        }
    }

    .Launching_title {
        @include font-montserrat;
        color: $white !important;
        font-size: 45px;
        font-weight: 700;
        text-align: center !important;
        line-height: 10px;
        text-align: left;
        font-style: normal;
        line-height: normal;
        text-transform: capitalize;

        @include mediaResponsive(xxl) {
            font-size: 42px;
        }

        @include mediaResponsive(xl) {
            font-size: 40px;
        }

        @include mediaResponsive(mLg) {
            font-size: 38px;
        }

        @include mediaResponsive(md) {
            font-size: 36px;
        }

        @include mediaResponsive(sm) {
            color: $grey !important;
            text-align: left !important;
            line-height: 31px !important;
            font-size: 25px;
        }

        @include mediaResponsive(xs) {
            color: $grey !important;
            text-align: left !important;
            line-height: 31px !important;
            font-size: 24px;
        }
    }

    .inner_launching_section {
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background: #ffefd8;

        @media (max-width:1500px) {
            align-items: center;
            height: 19rem;
            border-radius: 10px;
        }

        @media (max-width:991px) {
            height: 15rem;
        }

        @media (max-width:576px) {
            height: 12rem;
        }

        .multiCollapseExample1 {
            width: 60px !important;
            height: 60px !important;

            @include mediaResponsive(sm) {
                width: 40px !important;
                height: 40px !important;
            }

            @include mediaResponsive(xs) {
                width: 35px !important;
                height: 35px !important;
            }
        }

        .launching_description {
            text-transform: capitalize;
            // @include font-montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: normal;
            color: black;
            font-weight: 400 !important;

            @media (min-width:2100px){
                font-size: 19px;
            }

            @media(max-width:1500px) {
                text-transform: capitalize !important;
                font-size: 13px;
            }

            @media(max-width:991px) {
                font-size: 20px;
            }

            @media(max-width:576px) {
                font-size: 11px;
            }
        }

        .launchingmain_title {
            text-transform: initial;
            font-size: 35px;
            font-weight: 700 !important;
            color: black;

            @media(max-width:1500px) {
                font-size: 20px;
            }

            @media(max-width:991px) {
                font-size: 20px;
            }

            @media(max-width:576px) {
                font-size: 14px;
            }
        }
    }

    .inner_launching_section.expanded {
        height: 30rem;
        border: 1px solid #faad1d;

        @media (max-width:1500px) {
            height: 23rem;
        }

        @media (max-width:991px) {
            height: 15rem;
        }

        @media (max-width:576px) {
            height: 16rem;
        }
    }
}