.sticky-top {
    .container {
        overflow-x: unset !important;
    }
}

.navbar-brand {
    margin-left: 10px;
}

.header_section {
    background-color: $grey;

    .dropdown-menu {
        background-color: #454444;
        width: 100%;

        @media (max-width:992px) {
            background: transparent;
            align-items: baseline !important;
        }
    }

    .navbar {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='#fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        --bs-navbar-padding-y: 0.8rem;
    }

    .navbar-nav {
        flex-grow: 1;

        @media (max-width:992px) {
            flex-grow: unset;
            width: 100%;

            li a {
                line-height: 1.8;
            }
        }
    }

    .navbar-nav .nav-item:hover,
    .navbar-nav .nav-item:focus,
    .navbar-nav .nav-item:active {
        background-color: #454444;
        border-radius: 5px;

        @media (max-width:768px) {
            background: transparent;
        }
    }

    .navbar-nav .nav-item .dropdown-menu {
        border: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        width: -webkit-fill-available;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .navbar-nav .nav-item .dropdown-menu.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item .dropdown-menu[data-bs-popper] {
        top: unset;
        left: 0;
    }

    .dropdown-menu a {
        color: #fff;
        // width: auto;
        display: flex;
        justify-content: center;

        @media (max-width:991px) {
            justify-content: start;
        }
    }

    .dropdown-item:hover,
    .dropdown-item:focus,
    .dropdown-item.active,
    .dropdown-item:active {
        background-color: #454444;
        border-bottom: 3px solid #faad1d;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        @media (max-width:768px) {
            background: transparent;
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    a:-webkit-any-link:focus-visible {
        outline: none !important;
    }

    .offcanvas {
        @media (max-width:992px) {
            flex-direction: column !important;
        }

        ul.navbar-nav.justify-content-lg-end {
            li {
                margin: 0 1.5rem;
                padding: 0 10px;

                @media (max-width:1600px) {
                    margin: 0 1.25rem;
                }

                @media (max-width:1500px) {
                    margin: 0 0.50rem;
                }

                @media (max-width:1200px) {
                    margin: 0 0.5rem;
                }

                a {
                    font-size: 23px;

                    @media (max-width:1600px) {
                        font-size: 20px;
                    }

                    @media (max-width:1500px) {
                        font-size: 17px;
                    }

                    @media (max-width:1200px) {
                        font-size: 14px;
                    }

                    @media (max-width:991px) {
                        font-size: 20px;
                    }
                }

                div a {
                    font-size: 19px;

                    @media (max-width:1600px) {
                        font-size: 16px;
                    }

                    @media (max-width:1500px) {
                        font-size: 14px;
                    }

                    @media (max-width:991px) {
                        font-size: 16px;
                    }
                }
            }
        }

        button {
            font-size: 18px;

            @media (max-width:1600px) {
                font-size: 16px;
            }

            @media (max-width:1500px) {
                font-size: 13px;
            }

            @media (max-width:1200px) {
                font-size: 10px;
            }

            @media (max-width:991px) {
                font-size: 14px;
            }
        }
    }

    .offcanvas.offcanvas-end {
        border: none;
    }

    .w-100.d-flex {
        justify-content: space-between;
        align-items: center;

        a {
            padding: 1rem 0;

            @media (max-width:1700px) {
                padding: 0.5rem 0;
            }

            @media (max-width:1500px) {
                padding: 0.25rem 0;
            }

            img {
                width: 100%;

                @media (max-width:1700px) {
                    height: auto;
                    width: 85%;
                }

                @media (max-width:1500px) {
                    height: auto;
                    width: 70%;
                }

                @media (max-width:576px) {
                    width: 100%;
                }
            }
        }

        div {

            li a {
                padding: 0.5rem 0;
            }

            li div a {
                padding: 5px 0;
            }
        }

        .navbar-toggler {
            padding: 0 !important;
            border: none !important;

        }

        .navbar-toggler:focus {
            box-shadow: none;
        }

        button .navbar-toggler-icon {
            background-image: url("../../public/Images/Header/navbar.png");
            background-size: contain;
            // height: 100%;
        }

        @media (max-width:991px) {
            .text-bg-dark {
                background-color: #454444 !important;
            }
        }

        // @include mediaResponsive(sm) {
        //     justify-content: space-around;
        // }
    }
}