body {
    overflow: auto !important;
    overflow-x: hidden !important;
    padding-right: 0px !important;
    font-family: 'Montserrat';
    background-color: $white !important;
    color: $white;
    touch-action: manipulation;
    letter-spacing: normal;
    line-height: 1.5;
}

body,
a,
p,
button,
h1,
h2,
h3,
h5,
h4,
h6,
p {
    font-family: 'Montserrat';
    line-height: 1.5;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: $white;

    &:hover {
        color: $black;
    }
}

.font-bold {
    font-weight: 700;
}

.font-weight-semi-bold {
    font-weight: 600;
}

.font-weight-medium {
    font-weight: 500;
}

.font-extra-small {
    font-size: 12px;
}

.font-medium {
    font-size: 16px;
}

.font-normal {
    font-size: 18px;
}

.font-extra-large {
    font-size: 60px;
}

.font-Inter {
    font-family: 'Inter', sans-serif;
}

.font-Maradona-Signature {
    font-family: Maradona Signature;
}