.howitsworkpage {
    .howitsworktitle {
        color: $socialiconyellow;
        font-size: 50px;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        text-transform: capitalize;

        @media(max-width: 1700px) {
            font-size: 46px;
        }

        @media (max-width:1500px) {
            font-size: 38px;
        }

        @media (max-width:1200px) {
            font-size: 30px;
        }

        @media (max-width:991px) {
            text-align: left;
        }
    }

    .howitsworkdesc {
        color: $white;
        font-size: 30px;
        font-weight: 300;
        line-height: normal;
        text-align: center;

        @media(max-width: 1700px) {
            font-size: 28px;
        }

        @media (max-width:1500px) {
            font-size: 22px;
        }

        @media (max-width:1200px) {
            font-size: 26px;
        }

        @media (max-width:991px) {
            text-align: left;
            font-size: 22px;
        }

        @media (max-width:576px) {
            font-size: 14px;
        }

    }

    .innerhowitsworkdesc {
        color: $white;
        font-size: 32px;
        font-weight: 600;
        line-height: normal;
        text-align: center;

        @media(max-width: 1700px) {
            font-size: 28px;
        }

        @media (max-width:1500px) {
            font-size: 26px;
        }

        @media (max-width:1200px) {
            font-size: 22px;
        }

        @media (max-width:991px) {
            font-size: 18px;
        }

        @media (max-width:576px) {
            font-size: 20px;
        }
    }

    .howitsworksection {
        @include mediaResponsive(md) {
            // padding-top: ;
            background-color: #454444;
            border-radius: 10px;
            transition: none !important;
        }

        &:hover {
            border-radius: 10px;
            background-color: #636262;
            transition: background-color 500ms linear;

            @include mediaResponsive(md) {
                background-color: #454444;
                border-radius: 10px;
                transition: none !important;
            }
        }

        @include mediaResponsive(md) {
            height: 200px;
        }

        svg {
            height: 25% !important;
            width: 25% !important;

            @include mediaResponsive(md) {
                height: 50% !important;
                width: 40% !important;
            }
        }
    }

    .howitworkcard {
        width: 33%;

        @media (max-width:991px) {
            width: 49%;
        }
    }
}