.nearbyyeventssection {
    .nearbyeventtitle {
        color: $black;
        font-size: 50px;
        font-weight: 610;
        line-height: normal;
        text-transform: capitalize;
        text-align: center;

        @media(max-width: 1700px) {
            font-size: 44px;
        }

        @media (max-width:1500px) {
            font-size: 40px;
        }

        @media (max-width:1200px) {
            font-size: 36px;
        }

        @media (max-width:991px) {
            font-size: 28px;
        }
    }

    .nearBySectoin {
        width: 23%;

        @media (max-width:991px) {
            width: 49%;
        }

        @media (max-width:576px) {
            width: 100%;
        }
    }

    .nearbyyeventssectioncontainer {
        position: relative;
        text-align: center;
        color: white;

        .eventbottom-left {
            position: absolute;
            bottom: 8px;
            left: 0px;
            border-radius: 15px;
            width: 100% !important;
            background: rgba(0, 0, 0, 0.38);
            backdrop-filter: blur(1.8310136795043945px);

            .eventtitle {
                font-weight: 600;
                text-transform: capitalize;
                font-size: 20px;
                line-height: normal;
                color: $socialiconyellow;
                text-align: start !important;

                @media(max-width: 1700px) {
                    font-size: 18px;
                }

                @media (max-width:1500px) {
                    font-size: 15px;
                }

                @media (max-width:1200px) {
                    font-size: 13px;
                }
            }

            .eventtime {
                font-weight: 300;
                text-align: start;
                line-height: normal;
                color: $white;
                margin-top: 5px;
                margin-bottom: 5px;
                font-size: 14px;

                @media(max-width: 1700px) {
                    font-size: 13px;
                }

                @media (max-width:1500px) {
                    font-size: 11px;
                }

                @media (max-width:1200px) {
                    font-size: 10px;
                }
            }

        }
    }

    .eventhead {
        font-weight: 600;
        color: $grey;
        font-size: 16px;

        @media(max-width: 1700px) {
            font-size: 15px;
        }

        @media (max-width:1500px) {
            font-size: 11px;
        }

        @media (max-width:1200px) {
            font-size: 10px;
        }

        @media (max-width:991px) {
            font-size: 14px;
        }

        @media (max-width:576px) {
            font-size: 16px;
        }
    }

    button {
        border-radius: 2px !important;
        font-weight: 600;
        color: $white;
        background-color: $socialiconyellow;
        text-transform: capitalize;
        font-size: 16px;

        @media(max-width: 1700px) {
            font-size: 15px;
        }

        @media (max-width:1500px) {
            font-size: 12px;
        }

        @media (max-width:1200px) {
            font-size: 10px;
        }

        @media (max-width:991px) {
            font-size: 14px;
        }

        @media (max-width:576px) {
            font-size: 16px;
        }
    }
}