.On_Demand_Section {

    // .On_Demand_svg {}
    .usage-bg {
        background-color: #fffbf4;

        p.text-black {
            display: flex;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .points {
            width: 1.25rem;
            margin-right: 10px;
        }

        @include mediaResponsive(md) {
            margin-top: 10px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    }

    .On_Demand_Section_title {
        text-transform: initial;
        @include font-montserrat;
        font-size: 35px;
        color: $grey;
        font-weight: 700;

        @include mediaResponsive(lg) {
            font-size: 30px;
        }

        @include mediaResponsive(sm) {
            font-weight: 700 !important;
            font-size: 24px;
            line-height: 31.88px !important;
        }

        @include mediaResponsive(xs) {
            font-size: 20px;
        }
    }

    .On_Demand_Section_Options {
        .nav-pills .nav-link.active {
            background-color: #fff;
        }

        .tab-content .nav-pills .nav-link.active {
            background-color: #fff;
            color: #faad1d !important;
            border-left: 5px solid #faad1d;
            border-radius: 0;
        }
    }

    .main-li {
        button.active {
            .tab_icon_hover {
                display: block;
            }

            .tab_icon {
                display: none;
            }
        }

        button:not(.active) {
            .tab_icon_hover {
                display: none;
            }

            .tab_icon {
                display: block;
            }

            &:hover {
                .tab_icon_hover {
                    display: block;
                    border-bottom: 10px solid #faad1d;
                }

                .tab_icon {
                    display: none;
                }
            }
        }
    }

    .card {
        border-radius: 25px;
        box-shadow: 0px 4px 10px rgb(0 0 0 / 30%);

        .mob-section {

            .row ul {
                // display: flex;
                white-space: nowrap;
                flex-wrap: nowrap;
                overflow-x: auto;
            }

            li,
            .nav-pills .nav-link.active,
            .tab-pane {
                background-color: #f7f7f7;
                opacity: 1 !important;
                font-weight: 700 !important;

                .usage-bg {
                    p.text-black {
                        // display: flex;
                        margin-top: 5px;
                        margin-bottom: 5px;

                        img {
                            margin-right: 5px;
                        }
                    }

                    .card {
                        border-radius: 15px;
                        background-color: #f7f7f7;
                    }

                    .card_1 {
                        box-shadow: none;
                        border: 0;
                    }
                }
            }

            li {
                background-color: #f7f7f7;
            }

            // .fade.show {
            //     display: block;
            // }

            .fade:not(.show) {
                display: none;
            }
        }
    }
}