.individualbanner_section {

    .first_div {
        display: flex;
        align-items: center;
        width: 50%;

        @media (max-width:991px) {
            width: 100%;
        }
    }

    .second_div {
        width: 75%;

        @media (max-width:991px) {
            width: 100%;
        }
    }

    background-image: url("../../../public/Images/ride_with_us/ride_individual/ride_individual.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 35rem;

    @media (max-width:1800px) {
        height: 31rem;
    }

    @media (max-width:1700px) {
        height: 29rem;
    }

    @media (max-width:1500px) {
        height: 25rem;
    }

    @media (max-width:1200px) {
        height: 23rem;
    }

    @media (max-width:991px) {
        background-image: url("../../../public/Images/ride_with_us/ride_individual/ride_individual_mob.png");
        height: 15rem;
    }

    .ride_individual_title {
        color: $socialiconyellow;
        font-weight: 700;
        line-height: normal;
        font-size: 50px;

        @media (max-width:1800px) {
            font-size: 45px;
        }

        @media (max-width:1700px) {
            font-size: 40px;
        }

        @media (max-width:1500px) {
            font-size: 35px;
        }

        @media (max-width:1200px) {
            font-size: 25px;
        }

        @media (max-width:991px) {
            color: $white;
            font-size: 40px;
            text-transform: capitalize;
            font-weight: 600;
        }

        @media(max-width: 576px) {
            font-size: 30px;
        }
    }

    .ride_individual_subtitle {
        color: $white;
        font-weight: 200;
        line-height: normal;
        font-size: 25px;

        @media (max-width:1700px) {
            font-size: 23px;
        }

        @media (max-width:1500px) {
            font-size: 18px;
        }

        @media (max-width:1200px) {
            font-size: 15px;
        }

        @media(max-width: 991px) {
            display: none;
        }
    }

    button {
        background-color: $socialiconyellow;
        color: $grey;
        padding: 0.4rem 2rem;
        border-radius: 5px;
        font-weight: 600;
        font-size: 35px;
        margin-top: 1rem;

        @media (max-width:1700px) {
            font-size: 30px;
        }

        @media (max-width:1500px) {
            font-size: 25px;
        }

        @media (max-width:1200px) {
            font-size: 18px;
        }

        @media(max-width: 991px) {
            font-size: 30px;
            font-weight: 700;
        }

        @media(max-width: 576px) {
            font-size: 22px;
        }
    }
}

.businessbanner_section {
    .first_div {
        display: flex;
        align-items: center;
        width: 50%;

        @media (max-width:991px) {
            width: 100%;
        }
    }

    .second_div {
        width: 75%;

        @media (max-width:991px) {
            width: 100%;
        }
    }

    background-image: url("../../../public/Images/ride_with_us/ride_business/ride_business.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 35rem;

    @media (max-width:1800px) {
        height: 31rem;
    }

    @media (max-width:1700px) {
        height: 29rem;
    }

    @media (max-width:1500px) {
        height: 25rem;
    }

    @media (max-width:1200px) {
        height: 23rem;
    }

    @media (max-width:991px) {
        background-image: url("../../../public/Images/ride_with_us/ride_individual/ride_individual_mob.png");
        height: 15rem;
    }

    .ride_individual_title {
        color: $socialiconyellow;
        font-weight: 700;
        line-height: normal;
        font-size: 50px;

        @media (max-width:1800px) {
            font-size: 45px;
        }

        @media (max-width:1700px) {
            font-size: 40px;
        }

        @media (max-width:1500px) {
            font-size: 35px;
        }

        @media (max-width:1200px) {
            font-size: 25px;
        }

        @media (max-width:991px) {
            color: $white;
            font-size: 40px;
            text-transform: capitalize;
            font-weight: 600;
        }

        @media(max-width: 576px) {
            font-size: 30px;
        }
    }

    .ride_individual_subtitle {
        color: $white;
        font-weight: 200;
        line-height: normal;
        font-size: 25px;

        @media (max-width:1700px) {
            font-size: 23px;
        }

        @media (max-width:1500px) {
            font-size: 18px;
        }

        @media (max-width:1200px) {
            font-size: 15px;
        }

        @media(max-width: 991px) {
            display: none;
        }
    }

    button {
        background-color: $socialiconyellow;
        color: $grey;
        padding: 0.4rem 2rem;
        border-radius: 5px;
        font-weight: 600;
        font-size: 35px;
        margin-top: 1rem;

        @media (max-width:1700px) {
            font-size: 30px;
        }

        @media (max-width:1500px) {
            font-size: 25px;
        }

        @media (max-width:1200px) {
            font-size: 18px;
        }

        @media(max-width: 991px) {
            font-size: 30px;
            font-weight: 700;
        }

        @media(max-width: 576px) {
            font-size: 22px;
        }
    }
}