.vehicle_delivery_section {
    .title_column {
        .main_title {
            @include font-montserrat;
            color: $grey;
            font-size: 57px;
            font-weight: 700;
            line-height: normal;
            text-align: center;

            @media (max-width:1700px) {
                font-size: 46px;
            }

            @media (max-width:1500px) {
                font-size: 40px;
            }

            @media(max-width: 991px) {
                font-size: 30px;
            }

            @media(max-width: 576px) {
                font-size: 20px;
            }
        }
    }


    // .vanSection {
    //     @media screen and (max-width: 1024px) {
    //         /* Adjust the viewBox for tablets */
    //         viewBox: 0 0 200 200;
    //     }
    //     @include mediaResponsive(md) {
    //         viewBox : 0 0 800 500 !important;
    //     }
    // }
    // @media screen and (max-width: 767px) {
    //     .svg-content {
    //         svg{

    //             /* Adjust the viewBox for mobile devices */
    //             viewBox : 0 0 800 500 !important;
    //         }
    //     }
    // }
    // @media (min-width: 768px) and (max-width: 1024px) {
    //     .svg-container {
    //         svg {
    //             width: 500px;
    //             height: 140px;
    //         }
    //     }
    // }

    // @media (max-width: 767px) {
    //     .svg-container {
    //         svg {
    //             width: 165px;
    //             height: 110px;
    //         }
    //     }


    // }

    /* For screens between 768px and 1024px */
}

.svg-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.svg-container1 img {
    height: 50% !important;
    width: 75% !important;
    object-fit: contain !important;

    @include mediaResponsive(md) {
        height: 80% !important;
        width: 80% !important;
        object-fit: contain !important;
    }
}

// .ridetabsection.collapse{
//     .delivery_tab_section{
//         color: $socialiconyellow !important;
//     }
// }
// .delivery_tab_section[aria-expanded="true"]{
//     .carname{

//         color: $socialiconyellow !important;
//     }
// }

// .delivery_tab_section.collapsed{
//     .carname{
//         fill: $socialiconyellow !important;
//     }
// }