.fleet_managemet {
    background-image: url("../../../public/Images/fleet_management/banner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 62rem;

    @media (max-width:1700px) {
        height: 58rem;
    }

    @media (max-width:1500px) {
        height: 50rem;
    }

    @include mediaResponsive(md) {
        height: 100%;
    }

    h1.fw-700 {
        font-size: 80px;

        @media(max-width:1700px) {
            font-size: 75px;
        }

        @media(max-width:1500px) {
            font-size: 58px;
        }

        @media(max-width:1200px) {
            font-size: 50px;
        }

        @media (max-width:991px) {
            line-height: normal;
            font-size: 40px;
            font-weight: 600 !important;
        }

        @media (max-width:576px) {
            font-size: 30px;
        }
    }

}

.build_text {
    font-size: 24px;

    @media(max-width:1500px) {
        font-size: 16px;
    }

    @media(max-width: 991px) {
        font-size: 14px;
    }

    @media(max-width: 576px) {
        font-size: 12px;
    }
}

.get_text {
    font-size: 15px;
    font-weight: 400;
    line-height: normal;

    @media (max-width:1700px) {
        font-size: 13px;
    }

    @media(max-width: 1500px) {
        font-size: 12px;
    }

    @media (max-width:991px) {
        display: none;
    }
}

.fleetmnagementform {
    border: 1.975px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), linear-gradient(124deg, rgba(255, 255, 255, 0.4) 11.74%, rgba(255, 255, 255, 0.1) 87.03%);
    box-shadow: 0px 27.65432px 44.44445px -0.98765px rgb(0 0 0 / 5%);
    -webkit-backdrop-filter: blur(19.7530860901px);
    backdrop-filter: blur(19.7530860901px);
    border-radius: 15px;

    .inner_fleetbussinessform {
        margin-bottom: 5px !important;
        // margin-left: 0 !important;
        // margin-right: 0 !important;


        .form-control {
            font-size: 12px;
        }

        .form-label {
            margin-bottom: 5px !important;

            .bold_text {
                font-size: 16px;

                @media (max-width:1700px) {
                    font-size: 15px;
                }

                @media(max-width: 1500px) {
                    font-size: 12px;
                }

                @media (max-width:991px){
                    font-weight: 500 !important;
                }
            }
        }

        margin-bottom: 0px;

        .form-group_business {
            .bold_text {
                @include mediaResponsive(md) {
                    font-weight: 600;
                }
            }

            margin-bottom: 15px;
        }

        @include mediaResponsive(md) {
            margin-bottom: 0px;
            padding-left: 8px;
            padding-right: 8px;
        }

        .first_title {
            font-weight: 600;
            color: $black ;
            line-height: 25px;

            @include mediaResponsive(md) {
                width: 100%;
            }
        }

        .second_title {
            font-size: 16px;
            font-weight: 400;
            color: $black ;
            line-height: 25px;

            @include mediaResponsive(md) {
                width: 100%;
            }

        }

        .third_title {
            font-size: 24px;
            font-weight: 700;
            color: $grey ;
            line-height: normal;
        }

        .border-custom {
            border-bottom: 3px solid #FAAD1D;
        }

        input {
            color: $grey ;
            // font-weight: 600;
            padding: 15px;
            border: 0px;
            // border-radius: 20px;
            background: rgba(255, 255, 255, 0.85);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 2.96296px 5.92593px 0px rgba(0, 0, 0, 0.05), 0px 9.87654px 9.87654px 0px rgba(0, 0, 0, 0.04), 0px 22.71605px 13.82716px 0px rgba(0, 0, 0, 0.03), 0px 40.49383px 15.80247px 0px rgba(0, 0, 0, 0.01), 0px 63.20988px 17.77778px 0px rgba(0, 0, 0, 0.00);

            @media (max-width:1500px) {
                padding: 8px;
            }

            @include mediaResponsive(md) {
                color: #7D7D7D;
                font-size: 12px;
                // font-weight: 700;
                padding: 15px;
                border: 0px;
                border-radius: 5px;
                background: #F7F7F7;
                box-shadow: none;
            }
        }

        input:focus {
            color: $grey ;
            // font-weight: 600;
            padding: 1px;
            border: 0px;
            // border-radius: 20px;
            background: rgba(255, 255, 255, 0.85);
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05), 0px 2.96296px 5.92593px 0px rgba(0, 0, 0, 0.05), 0px 9.87654px 9.87654px 0px rgba(0, 0, 0, 0.04), 0px 22.71605px 13.82716px 0px rgba(0, 0, 0, 0.03), 0px 40.49383px 15.80247px 0px rgba(0, 0, 0, 0.01), 0px 63.20988px 17.77778px 0px rgba(0, 0, 0, 0.00);

            @media (max-width:1500px) {
                padding: 8px;
            }

            @include mediaResponsive(md) {
                color: #7D7D7D;
                font-size: 12px;
                // font-weight: 700;
                padding: 15px;
                border: 0px;
                border-radius: 5px;
                background: #F7F7F7;
                box-shadow: none;
            }

        }
    }
}

.ridebusinessbtn {
    font-size: 26px;
    border-radius: 15px 15px;
    border: 1.975px solid rgba(255, 255, 255, 0.40);
    background: linear-gradient(0deg, #FAAD1D 0%, #FAAD1D 100%), linear-gradient(124deg, rgba(255, 255, 255, 0.40) 11.74%, rgba(255, 255, 255, 0.10) 87.03%);
    box-shadow: 0px 27.65432px 44.44445px -0.98765px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(19.75308609008789px);
    color: $black ;
    font-weight: 700;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid transparent;
    }

    @include mediaResponsive(md) {
        width: fit-content;
        padding-left: 25px;
        padding-right: 25px;
        text-align: left;
        border-radius: 5px;
        color: $black ;
        backdrop-filter: blur(0px);
        font-weight: 700;
        font-size: 18px;
    }
}