.partnergrow_title {
    @include font-montserrat;
    color: #333;
    color: $white;
    font-size: 44px;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    text-transform: capitalize;

    @media (max-width:1700px) {
        font-size: 40px;
    }

    @media(max-width:1500px) {
        font-size: 34px;
    }

    @include mediaResponsive(lg) {
        font-size: 30px;
    }

    @include mediaResponsive(mLg) {
        font-size: 30px;
    }

    @include mediaResponsive(md) {
        font-size: 26px !important;
    }

    @include mediaResponsive(sx) {
        font-size: 26px !important;
    }

    @include mediaResponsive(sm) {
        font-size: 26px !important;
    }
}

.partnergrow_desc {
    @include font-montserrat;
    color: $white;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;

    @media(max-width:1700px) {
        font-size: 16px;
    }

    @media (max-width:1500px) {
        font-size: 14px;
    }

    @media (max-width:991px) {
        font-size: 14px;
        margin-top: 10px;
    }

    @media (max-width:576px) {
        font-size: 12px;
    }
}

.grow_section {
    border-radius: 10px;
    border: 2px solid var(--ozove-light-grey-for-border, #7D7D7D);
    background: var(--ozove-grey-2-for-fill, #3C3B3B);

    height: 250px;

    @media (max-width:1700px) {
        height: 230px;
    }

    @media(max-width:1500px) {
        height: 200px;
    }

    @include mediaResponsive(md) {
        height: 100% !important;
    }

    .grow_description {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media(max-width:1700px) {
            font-size: 16px;
        }

        @media (max-width:1500px) {
            font-size: 12px;
        }

        @include mediaResponsive(md) {
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
        }
    }
}

.partnerGrow_section {
    @include mediaResponsive(md) {
        padding: 10px 0px !important;
        border-radius: 10px;
        margin: 5px 15px 5px 15px !important;
        background: var(--ozove-white, #FFF);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);

        .container {
            padding-left: 0px !important;
            padding-right: 0px !important;

            .row {
                padding-bottom: 0px !important;
            }
        }

    }
}