.main_setfleetsection {
    background-color: rgba(250, 173, 29, .25);

    @media(max-width:991px) {
        background-color: #fff;
    }

    // .mokup {
    //     @media (max-width:1500px) {
    //         height: 50%;
    //     }
    // }

    .card {
        border-radius: 15px;
        // box-shadow: 0px 4px 10px rgb(0 0 0 / 30%);
        border: 0;
    }

    .set_fleet_title {
        @include font-montserrat;
        color: #333;
        font-size: 44px;
        font-weight: 900;
        line-height: normal;
        text-align: center;

        @media (max-width:1700px) {
            font-size: 40px;
        }

        @media (max-width:1500px) {
            font-size: 36px;
        }

        @media (max-width:1200px) {
            font-size: 32px;
        }

        @media(max-width: 991px){
            font-weight: 600;
        }
    }

    .mainswiper_fleet_section {
        @include mediaResponsive(md) {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }

    .swiper_fleet_section {
        @include mediaResponsive(md) {
            margin: 8px 0px 8px 0px !important;
        }

        .fleet_demo_title {
            color: #333;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            @media (max-width:1700px) {
                font-size: 20px;
            }

            @media (max-width:1500px) {
                font-size: 18px;
            }

            @media (max-width:1200px) {
                font-size: 16px;
            }
        }
    }

    .launching_btn {
        border-radius: 10px !important;
        color: $white;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        width: fit-content !important;

        @media (max-width:1700px) {
            font-size: 16px;
        }

        @media (max-width:1500px) {
            font-size: 13px;
        }

        @media (max-width:1200px) {
            font-size: 12px;
        }
    }
}