.home .home-section-5 {
    .our_service_head {
        color: #faad1d;
        font-weight: 600;
        font-size: 18px;

        @media (max-width:1500px) {
            font-size: 16px;
        }

        @media(max-width: 576px) {
            font-size: 12px;
        }
    }

    .our_services_desc {
        font-size: 16px;

        @media (max-width:1500px) {
            font-size: 14px;
        }
    }

    .card {
        width: 30%;
        height: 14rem;
        background-color: #f1f3f4;

        @media(max-width:1500px) {
            height: 12rem;
        }

        .section-5-img img {
            object-position: right;
            position: absolute;
            bottom: 2%;

            @media (max-width: 992px) {
                position: absolute;
                bottom: 3%;
                // width: 80% !important;
            }
        }
    }

    .card:hover,
    .card:focus {
        border: 1px solid #faad1d;
        transition: all 1s ease;
    }

    .section-5-img {
        display: flex;
        justify-content: flex-end;
    }

    .section-5-img {
        img {
            width: 40% !important;

            // @media (max-width:991px) {
            //     width: 30% !important;
            // }
        }
    }

    .section-5-img img.business-img {
        width: 30% !important;
    }

    .section-5-img img.api-image {
        width: 30% !important;
    }

    .section-5-img img.truck-img {
        width: 60% !important;
    }

    .section-5-img img.boxes-img {
        width: 40% !important;
    }

    // @media (max-width: 991px) {
    //     .card {
    //         height: 10rem;
    //         width: 49%;
    //     }
    // }

    @media (max-width: 991px) {
        .card {
            width: 49%;
            height: 8rem;
        }

        .card-body {
            .text-yellow {
                word-wrap: normal;
                font-size: 10px !important;
            }

            .text-dark {
                font-size: 10px;
            }

            .section-5-img {
                img {
                    width: 35% !important;
                }
            }

            .section-5-img img.business-img {
                width: 18% !important;
            }

            .section-5-img img.api-image {
                width: 20% !important;
            }

            .section-5-img img.boxes-img {
                width: 25% !important;
            }

            .section-5-img img.truck-img {
                width: 40% !important;
            }
        }
    }

    @media(max-width:576px) {
        .card-body {
            .text-dark {
                font-size: 10px;
            }

            .section-5-img {
                img {
                    width: 50% !important;
                }
            }

            .section-5-img img.business-img {
                width: 25% !important;
            }

            .section-5-img img.api-image {
                width: 30% !important;
            }

            .section-5-img img.boxes-img {
                width: 40% !important;
            }

            .section-5-img img.truck-img {
                width: 60% !important;
            }
        }
    }
    @media (min-width: 265px) {
        .card {
            width: 49%;
            height: 11rem !important;
        }
    }
    
}