.home .home_section_2 {
    .oz_ove {
        font-size: 94px;
        line-height: normal;

        @media (max-width:1800px) {
            font-size: 80px;
        }

        @media (max-width:1600px) {
            font-size: 75px;
        }

        @media (max-width:1500px) {
            font-size: 70px;
        }

        @media (max-width:1200px) {
            font-size: 65px;
        }
    }

    .oz_ove_sub {
        font-size: 58px;
        line-height: 15px;

        @media (max-width:1800px) {
            font-size: 50px;
        }

        @media (max-width:1600px) {
            font-size: 45px;
        }

        @media (max-width:1500px) {
            font-size: 40px;
        }

        @media (max-width:1200px) {
            font-size: 35px;
        }
    }

    .oz_ove_desc {
        font-size: 47px;

        @media (max-width:1800px) {
            font-size: 45px;
        }

        @media (max-width:1600px) {
            font-size: 39px;
        }

        @media (max-width:1500px) {
            font-size: 35px;
        }

        @media (max-width:1200px) {
            font-size: 30px;
        }
    }

    .future-bg {
        background-image: url("../../../public/Images/png/future.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 55rem;

        @media (max-width:1500px) {
            height: 30rem;
        }
    }

    .mob-section-2-img {
        width: 49%;
    }

    .future-mini {
        background-image: url("../../../public/Images/png/Future1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;

        // @media (max-width:767px) {
        //     background-size: contain;
        // }
    }

    .lead-mini {
        background-image: url("../../../public/Images/png/Lead the pack.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 6rem;

        // @media (max-width:767px) {
        //     background-size: contain;
        // }

        .text-white {
            font-size: 12px;
        }
    }

}