.home .home-section-7 {
    .join-family {
        width: 70%;

        @media (max-width: 1400px) {
            width: 80%;
        }

        @media (max-width: 991px) {
            width: 100%;
        }
    }

    .join_heading {
        font-size: 31px;
        line-height: normal;

        @media (max-width:1800px) {
            font-size: 25px;
        }

        @media (max-width:1600px) {
            font-size: 28px;
        }

        @media (max-width:1500px) {
            font-size: 25px;
        }

        @media (max-width:1200px) {
            font-size: 25px;
        }

        @media(max-width: 576px) {
            font-size: 19px;
        }
    }

    .join_desc {
        font-size: 15px;
        line-height: normal;

        @media (max-width:1800px) {
            font-size: 25px;
        }

        @media (max-width:1600px) {
            font-size: 22px;
        }

        @media (max-width:1500px) {
            font-size: 12px;
        }

        @media (max-width:1200px) {
            font-size: 14px;
        }
    }

    button {
        font-size: 20px;
        line-height: normal;

        @media (max-width:1800px) {
            font-size: 20px;
        }

        @media (max-width:1600px) {
            font-size: 18px;
        }

        @media (max-width:1500px) {
            font-size: 16px;
        }

        @media (max-width:1200px) {
            font-size: 14px;
        }
    }

    img {
        width: 100%;

        @media (max-width:991px) {
            // width: 90%;
            margin-bottom: 10px;
        }
    }
}

.home .home-section-7 .join-family .join-text-bottom {
    background-color: #faad1d;
    height: 7px;
    width: 25%;
}

@media (max-width:768px) {
    .home .home-section-7 .join-family .join-text-bottom {
        height: 5px;
        width: 25%;
    }
}